<div class="container">
 <h3>Users list:</h3>
 <table class="table table-hover">
 <thead>
  <tr>
    <th>Name</th>
    <th>Email</th> 
  </tr>
  </thead>
   <tbody>
  <tr *ngFor = "let user of users">
    <td>{{user.name}}</td>
    <td>{{user.email}}</td>
  </tr>
  </tbody>
</table>
</div>
